services:
  sysapps-center-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "5173:5173"
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
